@model _03_22_2023.Models.loai_hang_hoa

@{
    ViewBag.Title = "Chi Tiết Loại Hàng Hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    span {
        display: block;
    }
    
    #text-box {
        width: 70%;
        height: auto;
        border: 1px solid black;
        padding: 10px;
        margin-top: 35px;
        margin-left: 17%;
    }
    
    #text-box span {
        display: inline-block;
        width: 100%;
    }
    
    #text-box .body {
        margin-top: 10px;
    }
    
    #text-box .title {
        font-weight: bold;
        font-size: 35px;
    }
    
    #text-box .sub-title {
        font-weight: bold;
        font-size: 20px;
        margin-left: 40%;
    }
    
    #text-box .content {
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 45%;
    }
    
    #text-box img {
        width: 200px;
        height: 200px;
        border: #2b2b2b 1px solid;
        margin-bottom: 30px;
        margin-left: 40%;
    }
    
    #text-box .button {
        width: 100%;
        height: auto;
        text-align: center;
    }
</style>
<div id="text-box">
    <span class="title">Chi Tiết</span>
    <div class="body">
        <img src="~/Images/@Model.hinh_anh"/>
        <span class="sub-title">Mã Loại Hàng Hóa:</span>
        <span class="content">@Model.ma_loai_hang_hoa</span>
        <span class="sub-title">Tên Loại Hàng Hóa:</span>
        <span class="content">@Model.ten_loai_hang_hoa</span>
        <span class="sub-title">Ghi Chú:</span>
        <span class="content">@Model.ghi_chu</span>
    </div>
    <i style="margin-left: 87%">@Html.ActionLink("Quay Lại", "Index", "LoaiHangHoa", new { @class = "button-back" })</i>
</div>

