<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <hgroup>
        <h1>Đã có lỗi xảy ra!</h1><br>
        <h2>Lỗi này xảy ra do bạn đang làm việc</h2>
        <h2>với bảng có khóa chính được liên kết cho những bảng khác</h2>
    </hgroup>
</body>
</html>
