html {
    background: whitesmoke;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 190px;
    font-family: "VNI-Times";
    background: whitesmoke;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@font-face {
    font-family: 'VNI-Times';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/vni.common.VTIMESB.tf') format('truetype');
}

div {
    margin-bottom: -15px;
}

form .title {
    font-size: 300%;
    margin-bottom: 10px;
    margin-top: 30px;
    outline: none;
    font-weight: bold;
    color: darkred;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 20px;
    font-family: "Courier";
}

form .span {
    font-size: 130%;
    margin-left: 7%;
    margin-top: 30px;
}

form .input {
    display: flex;
    margin-left: -25%;
}

form .input input[type="text"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

.custom-file-input {
    /* Các thuộc tính CSS của bạn */
    /* Ví dụ: */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left: 25%;
}

form .input input[type="file"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="text"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="text"]::placeholder {
    font-size: 120%;
}

form .input input[type="date"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="date"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="date"]::placeholder {
    font-size: 120%;
}

form .input input[type=datetime-local] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type=datetime-local]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type=datetime-local]::placeholder {
    font-size: 120%;
}

form .input input[type="time"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="time"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="time"]::placeholder {
    font-size: 120%;
}

form .input input[type="number"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="number"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="number"]::placeholder {
    font-size: 120%;
}

form .input input[type="week"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="week"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="week"]::placeholder {
    font-size: 120%;
}

form .input input[type="month"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="month"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="month"]::placeholder {
    font-size: 120%;
}

form .input input[type="color"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="color"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="color"]::placeholder {
    font-size: 120%;
}

form .input input[type="email"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="email"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="email"]::placeholder {
    font-size: 120%;
}

form .input input[type="password"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="password"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="password"]::placeholder {
    font-size: 120%;
}

form .input input[type="search"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="search"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="search"]::placeholder {
    font-size: 120%;
}

form .input input[type="tel"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="tel"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="tel"]::placeholder {
    font-size: 120%;
}

form .input input[type="url"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="url"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="url"]::placeholder {
    font-size: 120%;
}

form .input input[type="datetime"] {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .input input[type="datetime"]:focus {
    border: 2px solid mediumseagreen;
}

form .input input[type="datetime"]::placeholder {
    font-size: 120%;
}

form .input input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    font-size: 140%;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    height: 40px;
    width: 70%;
    box-shadow: black 0 0 5px;
    outline: none;
}

form .input input[type="submit"]:hover {
    font-size: 150%;
}

form .textarea {
    display: flex;
    margin-left: -25%;
}

form .textarea textarea {
    width: 70%;
    height: 50px;
    margin-top: 20px;
    margin-left: 25%;
    outline: none;
    border: darkgray 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

form .textarea textarea:focus {
    border: 2px solid mediumseagreen;
}

form .textarea textarea::placeholder {
    font-size: 120%;
}

form .iconx {
    display: flex;
    min-width: 25px;
    font-size: 30px;
}

form .iconx.close {
    position: absolute;
    margin-left: 92%;
    cursor: pointer;
    padding: 10px;
    background-color: orangered;
    width: 40px;
    height: 40px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: black 0 0 5px;
}

form .iconx.input {
    position: absolute;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border: black 2px solid;
    background-color: whitesmoke;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    height: 22px;
}

.button-back {
    cursor: pointer;
    padding: 10px;
    background-color: darkred;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    outline: none;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-back:hover {
    color: whitesmoke;
    text-underline: none;
}

#form-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
    background-color: whitesmoke;
    position: absolute;
    overflow: hidden;
    margin-top: 35px;
}

#table-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    margin-top: 35px;
}

#table-container table {
    width: 100%;
    padding: 10px 0;
    font-size: 150%;
    text-align: center;
}

#table-container table thead {
    background-color: mediumseagreen;
    color: white;
}

#table-container table thead tr th {
    padding: 10px 0;
    text-align: center;
}

#table-container table tbody tr td {
    padding: 10px 0;
}

#table-container table tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

#table-container table, th, td {
    border: 1px solid black;
}

